* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

.container {
  width: 80%;
  margin: auto;
}

.small-band {
  text-align: right;
  line-height: 30px;
  height: 30px;
  background-color: #0282f9;
  color: white;
}

.header-content {
  height: 150px;
  display: flex;
  align-items: center;
}
.header-content .logo {
  margin-right: 50px;
}
.header-content .menu {
  display: flex;
  justify-content: center;
}
.header-content .menu li {
  padding: 10px;
}
.header-content .menu li a {
  padding: 10px;
  text-decoration: none;
  color: black;
}